@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");
* {
  margin: 0;
  font-family: "Cambo", serif;
  scroll-behavior: smooth;
}
* body .idk {
  margin-top: 0;
  height: 90vh;
  background-image: url(/images/stylo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin-top: 0px;
}
* body .idk nav {
  width: 90%;
  height: 60px;
  background-color: rgba(94, 90, 90, 0.6);
  border-radius: 10px;
  margin-left: 5%;
  top: 6px;
  position: absolute;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* body .idk nav h2 {
  margin-left: 3%;
}
* body .idk nav h2 a {
  background: linear-gradient(to left, white 35%, aqua 50%, white 70%);
  color: white;
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
}
@keyframes shine {
  to {
    background-position: 150%;
  }
}
* body .idk nav h2 a:hover {
  font-size: 38px;
}
* body .idk nav ul {
  margin-right: 3%;
  cursor: default;
}
* body .idk nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}
* body .idk nav ul li a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s;
  position: relative;
  /* Style pour le texte sur hover */
}
* body .idk nav ul li a:hover {
  color: aqua;
  font-size: 34px;
}
* body .idk nav ul li a::after {
  content: "";
  background: aqua;
  height: 2px;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}
* body .idk nav ul li a:hover::after {
  width: 100%;
}
* body .idk .present {
  color: white;
  position: absolute;
  top: 28%;
  left: 7.5%;
  background-color: rgba(94, 90, 90, 0.6);
  width: 45%;
  text-align: center;
  padding-top: 30px;
  border-radius: 4px;
}
* body .idk .present p.pres {
  font-size: 32px;
}
* body .idk .present p.nom {
  font-size: 54px;
  margin-top: 10px;
  color: white;
}
* body .idk .present p.met {
  font-size: 32px;
  margin-top: 15px;
}
* body .idk .present p.test {
  margin-top: 22px;
  font-size: 20px;
  margin-bottom: 30px;
}
* body .idk .present span {
  color: aqua;
}
* body .idk .bitmojie {
  position: absolute;
  top: 18%;
  left: 60%;
  width: 30%;
}
* body .about {
  height: 800px;
  background-color: rgb(225, 231, 237);
  padding-top: 50px;
}
* body .about h1 {
  font-size: 50px;
  text-align: center;
  color: #3b3939;
}
* body .techno {
  height: 800px;
  background-color: rgb(225, 231, 237);
  padding-top: 10px;
}
* body .techno h1 {
  font-size: 50px;
  text-align: center;
  color: #3b3939;
}
* body .techno h2 {
  text-align: center;
}
* body .techno h3 {
  text-align: center;
}
* body .techno .languages {
  display: flex;
  justify-content: center;
}
* body .techno .languages .element {
  background-color: white;
  width: 15%;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 10px 5% 0 0;
  border-radius: 5px;
}
* body .techno .languages .element .img {
  justify-content: center;
  height: 40px;
  border-right: 2px solid rgb(193, 187, 187);
}
* body .techno .languages .element .img img {
  height: 40px;
}
* body .techno .languages .element .explain p {
  margin: 10px;
}
* body .proj {
  height: 800px;
  background-color: rgb(225, 231, 237);
  padding-top: 10px;
}
* body .proj h1 {
  font-size: 50px;
  text-align: center;
  color: #3b3939;
}
* body .contact {
  background-color: #3b3939;
  width: 100%;
  height: 200px;
  padding-top: 8px;
}
* body .contact h1 {
  text-align: center;
  font-size: 46px;
}
* body .contact h1 a {
  background: linear-gradient(to left, white 35%, aqua 50%, white 70%);
  color: white;
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine2 1s linear infinite;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
  cursor: default;
}
@keyframes shine2 {
  to {
    background-position: 150%;
  }
}
* body .contact .logoc {
  border: 3px solid white;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  height: 90px;
}
* body .contact .logoc ul {
  margin-bottom: 10px;
  margin-top: 10px;
}
* body .contact .logoc ul li {
  display: inline;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
}
* body .contact .logoc ul li a {
  text-decoration: none;
}
* body .contact .logoc ul li a img {
  transition: all 1s;
}
* body .contact .logoc ul li a img.linkedin {
  width: 6%;
}
* body .contact .logoc ul li a img.linkedin:hover {
  width: 7%;
  margin-top: 10px;
}
* body .contact .logoc ul li a img.github {
  width: 6%;
}
* body .contact .logoc ul li a img.github:hover {
  width: 8%;
}
* body .contact .logoc ul li a img.gitlab {
  width: 6%;
}
* body .contact .logoc ul li a img.gitlab:hover {
  width: 7%;
  margin-top: 10px;
}
* body .contact .logoc ul li a img.email {
  width: 6%;
}
* body .contact .logoc ul li a img.email:hover {
  width: 8%;
}
* body .contact .logoc ul li a img.tel {
  width: 7%;
}
* body .contact .logoc ul li a img.tel:hover {
  width: 8%;
}/*# sourceMappingURL=marflix.css.map */