@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

* {
  margin: 0;
  font-family: 'Cambo', serif;

  body {

    .idk {
      margin-top: 0;
      height: 90vh;
      background-image: url(/images/stylo.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      margin-top: 0px;

      nav {
        width: 90%;
        height: 60px;
        background-color: rgba($color: #6b6868, $alpha: 0.6);
        border-radius: 10px;
        margin-left: 5%;
        top: 6px;
        position: absolute;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          margin-left: 3%;


          a {
            background: linear-gradient(to left, white 35%, aqua 50%, white 70%);
            color: white;
            background-size: 200%;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            animation: shine 1s linear infinite;

            @keyframes shine {
              to {
                background-position: 150%;
              }

            }

            font-size: 28px;
            text-decoration: none;
            font-weight: bold;
            transition: all 1s;

            &:hover {
              font-size: 38px;

            }



          }
        }

        ul {
          margin-right: 3%;

          cursor: default;

          li {

            list-style-type: none;
            display: inline-block;
            padding: 10px;




            a {
              font-size: 22px;
              color: white;
              text-decoration: none;
              font-weight: bold;
              cursor: pointer;
              transition: all 1s;

              &:hover {
                color: aqua;

                font-size: 34px;
              }
            }
          }
        }

      }

      div {
        color: white;
        position: absolute;
        top: 25%;
        left: 7.5%;
        background-color: rgba($color: #5e5a5a, $alpha: 0.6);
        width: 45%;
        height: 27%;
        text-align: center;
        padding-top: 30px;
        border-radius: 4px;

        p.pres {
          font-size: 32px;
        }

        p.nom {
          font-size: 54px;
          margin-top: 10px;
          color: white;
        }

        p.met {
          font-size: 32px;
          margin-top: 15px;
        }

        p.test {
          margin-top: 22px;
          font-size: 20px;
        }

        span {
          color: aqua;
        }
      }
    }

    .about {
      h1 {
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: 1;

      }

      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }

        to {
          margin-left: 0%;
          width: 100%;
        }
      }
    }
  }
}