@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");
* {
  margin: 0;
  font-family: "Cambo", serif;
}
* body .idk {
  margin-top: 0;
  height: 90vh;
  background-image: url(/images/stylo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin-top: 0px;
}
* body .idk nav {
  width: 90%;
  height: 60px;
  background-color: rgba(94, 90, 90, 0.6);
  border-radius: 10px;
  margin-left: 5%;
  top: 6px;
  position: absolute;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* body .idk nav h2 {
  margin-left: 3%;
}
* body .idk nav h2 a {
  background: linear-gradient(to left, white 35%, aqua 50%, white 70%);
  color: white;
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
}
@keyframes shine {
  to {
    background-position: 150%;
  }
}
* body .idk nav h2 a:hover {
  font-size: 38px;
}
* body .idk nav ul {
  margin-right: 3%;
  cursor: default;
}
* body .idk nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}
* body .idk nav ul li a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s;
}
* body .idk nav ul li a:hover {
  color: aqua;
  font-size: 34px;
}
* body .idk div {
  color: white;
  position: absolute;
  top: 25%;
  left: 7.5%;
  background-color: rgba(94, 90, 90, 0.6);
  width: 45%;
  text-align: center;
  padding-top: 30px;
  border-radius: 4px;
}
* body .idk div p.pres {
  font-size: 32px;
}
* body .idk div p.nom {
  font-size: 54px;
  margin-top: 10px;
  color: white;
}
* body .idk div p.met {
  font-size: 32px;
  margin-top: 15px;
}
* body .idk div p.test {
  margin-top: 22px;
  font-size: 20px;
  margin-bottom: 30px;
}
* body .idk div span {
  color: aqua;
}
* body .about h1 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
@keyframes slidein {
  from {
    margin-left: 70%;
    width: 0%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
* body .contact {
  background-color: #3b3939;
  width: 100%;
  height: 200px;
  padding-top: 10px;
}
* body .contact h1 {
  text-align: center;
}
* body .contact h1 a {
  background: linear-gradient(to left, white 35%, aqua 50%, white 70%);
  color: white;
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine2 1s linear infinite;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
  cursor: default;
}
@keyframes shine2 {
  to {
    background-position: 150%;
  }
}
* body .contact .logoc {
  border: 3px solid white;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  height: 110px;
  align-content: center;
}
* body .contact .logoc ul {
  margin-bottom: 10px;
  margin-top: 10px;
}
* body .contact .logoc ul li {
  display: inline;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
}
* body .contact .logoc ul li a {
  text-decoration: none;
}
* body .contact .logoc ul li a img {
  transition: all 1s;
}
* body .contact .logoc ul li a img.linkedin {
  width: 6%;
}
* body .contact .logoc ul li a img.linkedin:hover {
  width: 7%;
  margin-top: 10px;
}
* body .contact .logoc ul li a img.github {
  width: 6%;
}
* body .contact .logoc ul li a img.github:hover {
  width: 8%;
}
* body .contact .logoc ul li a img.gitlab {
  width: 6%;
}
* body .contact .logoc ul li a img.gitlab:hover {
  width: 7%;
  margin-top: 10px;
}
* body .contact .logoc ul li a img.email {
  width: 6%;
}
* body .contact .logoc ul li a img.email:hover {
  width: 8%;
}
* body .contact .logoc ul li a img.tel {
  width: 7%;
}
* body .contact .logoc ul li a img.tel:hover {
  width: 8%;
}/*# sourceMappingURL=marflix.css.map */